
<table style="text-align:center"><caption><strong>Numeric variables analysis</strong></caption>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">price</td><td>36,621</td><td>648,639,006.0</td><td>307,081,200.0</td><td>300,000,000</td><td>1,650,000,000</td></tr>
<tr><td style="text-align:left">distancia_bus</td><td>36,621</td><td>948.7</td><td>681.1</td><td>3.6</td><td>5,856.8</td></tr>
<tr><td style="text-align:left">distancia_parque</td><td>36,621</td><td>160.4</td><td>99.0</td><td>1.0</td><td>1,102.8</td></tr>
<tr><td style="text-align:left">distancia_cc</td><td>36,621</td><td>658.0</td><td>382.2</td><td>0.6</td><td>4,004.8</td></tr>
<tr><td style="text-align:left">distancia_police</td><td>36,621</td><td>1,012.4</td><td>507.6</td><td>2.4</td><td>2,236.9</td></tr>
<tr><td style="text-align:left">surface_total</td><td>36,621</td><td>136.7</td><td>79.7</td><td>28.0</td><td>500.0</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
