
<table style="text-align:center"><caption><strong>Missing values Analysis</strong></caption>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>Variables</td><td>Missing</td></tr>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">property_id</td><td>property_id</td><td>0</td></tr>
<tr><td style="text-align:left">city</td><td>city</td><td>0</td></tr>
<tr><td style="text-align:left">price</td><td>price</td><td>0</td></tr>
<tr><td style="text-align:left">month</td><td>month</td><td>0</td></tr>
<tr><td style="text-align:left">year</td><td>year</td><td>0</td></tr>
<tr><td style="text-align:left">surface_total</td><td>surface_total</td><td>30,790</td></tr>
<tr><td style="text-align:left">surface_covered</td><td>surface_covered</td><td>30,079</td></tr>
<tr><td style="text-align:left">rooms</td><td>rooms</td><td>18,260</td></tr>
<tr><td style="text-align:left">bedrooms</td><td>bedrooms</td><td>0</td></tr>
<tr><td style="text-align:left">bathrooms</td><td>bathrooms</td><td>10,071</td></tr>
<tr><td style="text-align:left">property_type</td><td>property_type</td><td>0</td></tr>
<tr><td style="text-align:left">operation_type</td><td>operation_type</td><td>0</td></tr>
<tr><td style="text-align:left">lat</td><td>lat</td><td>0</td></tr>
<tr><td style="text-align:left">lon</td><td>lon</td><td>0</td></tr>
<tr><td style="text-align:left">title</td><td>title</td><td>22</td></tr>
<tr><td style="text-align:left">description</td><td>description</td><td>9</td></tr>
<tr><td colspan="3" style="border-bottom: 1px solid black"></td></tr></table>
